<h1>Editing Destination</h1>

<%= render 'form' %>

<div class="actions form-group">
	<%= link_to 'Show', @destination, class: "btn btn-danger" %>
	<%= link_to 'Back', destinations_path, class: "btn btn-info" %>
</div>